@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

$primaryColour: #CDB4DB;
$secondaryColour: #260638;
$altColour: #450A66;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $secondaryColour;
}
body{
	width: 250px;
	padding: 10px;
	font-family: "Fira Sans", sans-serif;
	border: 1px solid #5E0E8B;
	background-color: $primaryColour;
}
.timer-container{
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}
header{
	text-align: center;
}
a, a:hover,a:visited{
 text-decoration: none;
}
.clock{
	font-size: 75px;
	line-height: 155px;
	color: $secondaryColour;
	div{
		display: inline;
	}
}

.button-menu {

	display: flex;
	flex-direction: column;

	button{
		width: 114px;
		height: 43px;
		background: #CDB4DB;
		box-shadow: 3px 3px 6px 2px #A375BD;
		border-radius: 15px;
		border: none;
		margin: 8px;
	}
}
	
	

#startStopBtn{
	width: 114px;
	height: 43px;
	background: #B9DBB4;
	box-shadow:  2px 2px 6px 2px #69B15D;
	border-radius: 15px;
	letter-spacing: 0.215em;
	font-size: 1.5em;
	border: none;
	margin: 8px;
}